@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-family: 'Poppins', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .transitions {
    @apply duration-300 ease-in-out
  }
}
